:root{
    --main-color:rgb(255, 201, 23);
    --second-color:rgb(0, 48, 130);
    --third-color: rgb(0, 99, 211);
}

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: var(--main-color);
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

section{
    margin-top: 2em;
}

h2{
    text-align: center;
    padding: 1em 0 1em 0;
    background-color: rgb(255, 0, 0);
    margin-bottom: 1em;
    font-size: 1em;
    color: white;

}

fieldset{
    border: none;
    color: var(--second-color);
}

.q{
    font-size: 1.1em;
    color: black;
    margin-top: .8em;
}

label{
    margin-top: .4em;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}


input{
    margin-top: .4em;
    font-size: 1em;
    border-radius: .2em;
    border: none;
    height: 2.5em;
    padding: 0 0 0 0.5em;
}

input[type="radio"]{
    accent-color: var(--second-color);
}

legend{
    font-size: 1.2em;
    font-weight: 600;
}

.title{
    font-size: 1.8em;
    margin-bottom: .2em;
    margin-left:.5em;
}

.buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .3em;
}

button, a{
    width: 95%;
    font-size: 1.1em;
    padding: 1em;
    border: solid rgb(173, 173, 173) .1em;
    color: white;
    background-color: var(--third-color);
    border-radius: .2em;
    font-weight: 500;
}

a{
    width: 89%;
    text-align: center;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--third-color);
}

input[name="Voorletters"]{
    width: 20%;
}

input[name="Tussenvoegsels"]{
    width: 30%;
}

input[name="Achternaam"]{
    width: 44%;
}

.gegevensOverledene{
    display: flex;
    gap: .5%;
    flex-wrap: wrap;
}

.radioButtons{
    display: flex;
    align-items: center;
    gap: .5em;
    position: relative;
}

.bsn{
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
}

.bsn input{
    width: 5%
}

footer{
    height: 10em;
}


/* body{
    background: #ffffff;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



form{
    z-index: 1;
    border-radius: .8em;
    padding: 3em;
    width: 30%;
    height: fit-content;
    background-color: white;
    flex-direction: column;
}

legend{
        flex-direction: column;
    font-size: 1.2em;
    color: var(--second-color);
    font-weight: bold;
}

form > legend{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: var(--second-color);
}

button{
    font-size: 1.2em;
    margin-top: 1em;
    padding: .5rem;
    color: white;
    background-color: var(--second-color);
    border-radius: .4em;
}


fieldset{
    border: none;
}

label{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: var(--second-color);
    font-weight: bold;
}

input{
    margin-top: .3em;
    border: rgb(136, 136, 136) solid .1em;
    font-size: 1em;
    background-color: #ffffff;
}

img{
    filter: blur(30px);
    width: fit-content;
    position: absolute;
    height: fit-content;
}
 */
