:root{
    --main-color:rgb(255, 213, 0);
    --second-color:rgb(16, 9, 154);
}


body{
    background: #ffffff;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



form{
    z-index: 1;
    border-radius: .8em;
    padding: 3em;
    width: 30%;
    height: fit-content;
    background-color: white;
    flex-direction: column;
}

form > legend{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: var(--second-color);
}

button{
    font-size: 1.2em;
    margin-top: 1em;
    padding: .5rem;
    color: white;
    background-color: var(--second-color);
    border-radius: .4em;
}


fieldset{
    border: none;
}

label{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: var(--second-color);
    font-weight: bold;
}

input{
    margin-top: .3em;
    border: rgb(136, 136, 136) solid .1em;
    font-size: 1em;
    background-color: #ffffff;
}

img{
    filter: blur(30px);
    width: fit-content;
    position: absolute;
    height: fit-content;
}